.main{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('https://wallpapercave.com/wp/wp2067874.jpg');
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

h1{
    color: blue;
    font-size: 6rem;
    text-align: center;
    outline-style: solid;
    outline-width: 4px;
    outline-color: red;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: darkmagenta;
}

h3{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    line-height: 150%;
    text-shadow: 3px 3px 2px rebeccapurple;
}

.keys{
    position: relative;
    left: 120px;
    display: flex;
    height: 5rem;
}

.key{
    height: 80px;
    width: 80px;
    margin: 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    color: white;
    transition: all 0.07s;
}

.playing{
    transform: scale(1.1);
    border-color: lightgreen;
    background-color: white;
    box-shadow: 0 0 10px lightgreen;
}

kbd{
    font-weight: 500;
}